<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<!-- Materialize Reference -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen,projection"/>

		<!-- Font Awesome Reference -->
		<link type="text/css" rel="stylesheet" href="/css/font-awesome.min.css"  media="screen,projection"/>

    <!-- fonts.google.com Reference -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

		<link rel="stylesheet" href="/css/style.css" type="text/css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

		<link rel="icon" href="images/favicon.gif" type="image/gif" sizes="16x16">

		<title>Flashy</title>
	</head>
	<body>
    <nav class="" role="navigation">
      <div class="nav-wrapper container">
				<a id="logo-container" href="/" class="brand-logo"><img src="/images/flashy_logo.png" alt="logo" height="63" width="150"></a>
        <ul class="right hide-on-med-and-down">
          <li><a id="sign-up" class="modal-trigger" href="#modal-sign-up">Sign Up</a></li>
					<li><a class="modal-trigger" href="#modal-login">LOGIN</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <li><a class="modal-trigger" href="#modal-sign-up">Sign Up</a></li>
					<li><a class="modal-trigger" href="#modal-login">LOGIN</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
      </div>
    </nav>

		{{{ body }}}


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="/js/init.js"></script>

		<script type="text/javascript">

		</script>

	</body>
</html>
